{% extends "base.html" %}
{% block navbar %}

<div class="container">

<div id="nav">
  <div id="nav-row" class="row justify-content-center align-items-center">
    <div id="nav-column" class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/route">Route</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/route">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/route">Listen</a>
        </li>
      </ul>
    </div>
</div>
</div><div><br>

{% endblock %}
{% block content %}
<div class="container">
  <h3>Your Playlist</h3><br>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
	<th scope="col">#</th>
	<th scope="col">Song Title</th>
	<th scope="col">Artist</th>
	<th scope="col">Minutes</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(1, length) %}
      <tr>
	<th scope="row">{{ i }}</th>
	<td>{{ playlist[i]["SongTitle"] }}</td>
	<td>{{ playlist[i]["Artist"] }}</td>
	<td>{{ playlist[i]["Minutes"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <b>Length:</b> 1 hour 7 minutes
  <b>Quantity:</b> 18 songs
</div>
{% endblock content %}
