{% extends "base.html"%}
			{%block title%}
				Welcome to Smapify!
			{%endblock title%}
		
		{%block greeting%}
			{%set msgs = get_flashed_messages()%}
			{%for each in msgs %}
			<h1>{{each}}</h1>
			{%endfor%}
		{%endblock greeting%}

		{%block login %}
		<h3>Welcome to Smapify!</h3>
		<h3>To create a customized playlist, please login.</h3>

		<form action="/login" method="POST">
  <div class="form-group">
    <label for="usr">Username</label>
    <input type="text" class="form-control" id="usr" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" id="pwd" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock login %}
		
<!--		<form action="/login" method="POST">
			Username: <input type = "text" name="usr" placeholder = "Username"></br>
			Password: <input type = "password" name="pwd" placeholder = "Password"></br>
			<input type="submit" value="Submit">
		</form>
		{%endblock login%} <br>

		<h3>New User? Register now!</h3>
		{%block register%}
			<form action="/register" method="POST">
				Username: <input type = "text" name="new_usr" placeholder = Username></br>
				Password: <input type = "password" name="new_pwd" placeholder = Password></br>
				Re-enter Password: <input type = "password" name="re_pwd" placeholder = Password></br>
				<input type="submit" value="Register">
			</form>
		{% endblock register %}

--!>
