{% extends "base.html" %}



<!-- <div class="container">

<div id="nav">
  <div id="nav-row" class="row justify-content-center align-items-center">
    <div id="nav-column" class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/route">Route</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/route">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/route">Listen</a>
        </li>
      </ul>
    </div>
</div>
</div><div><br> -->


{% block content %}
<div class="container">

  <div id="nav-row" class="row justify-content-center align-items-center">
  <div id="nav-column" class="col-md-8">

    {% set msgs = get_flashed_messages()%}
    {% for each in msgs %}
      <div class="p-3 mb-2 bg-success text-white">
        <p>{{each}}</p>
      </div>
    {% endfor %}


  <h3>Your Info</h3><br>

  <!-- </b> 1 hr. 5 min.<br> -->
  <!-- 2, 3 transfer to the R<br><br> -->

  <!-- SMALL MAP HERE <br><br> -->

  <b>Tag(s):</b> {{s_tags}} <br>

  <hr>

  <form action="/edit" method = "POST">

    <div id="nav-row" class="row justify-content-center align-items-center">
    <div id="nav-column" class="col-md-12">
        <h3>Our Playlist</h3><br>
        <b>Playlist Time:</b>
          {% if (time|int) // 3600 != 0 %}
            {{(time|int) // 3600}} hours,
          {% endif %}
          {% if (time|int) % 3600 != 0 %}
            {{((time|int) % 3600) // 60}} minutes
          {% endif %}
          {% if (time|int) % 60 != 0 %}
            and {{(time|int) % 60}} seconds
          {% endif %}<br>
        <b>Playlist Length:</b> {{length}}<br><br>
      </div>
      <table class="table table-hover table-light"><br>
	<thead>
	  <tr>
	    <th scope="col">#</th>

	    <th scope="col">Artist</th>
	    <th scope="col">Song Title</th>
	    <th scope="col">Link</th>
	  </tr>
	</thead>
	<tbody>
	  {% for i in range(0, length) %}
	  <tr>
	    <th scope="row">{{ i + 1 }}</th>
	    <td>{{ playlist[i][0] }}</td>
	    <td>{{ playlist[i][1] }}</td>
	    <td>{{ playlist[i][2] }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      <!-- <div class="col-sm">
	       <input type="hidden" value="{{ playlist }}" name="saved"></input>
	        <button type="submit" class="btn btn-info float-right" name="save" value="{save}">Add to Library</button><br><br>
      </div> -->
    </div><br>

    <button type="submit"class="btn btn-primary btn-lg btn-block" name="save" value={{playlist_id}}>Save to Library</button><br><br>


    <!-- {% for song in playlist %} -->
    <!-- {% endfor %} -->

    <!-- put this in the loop of all the songs found  -->

    <!-- <div class="row">
         <div class="col-sm">
           "consequences"
         </div>
         <div class="col-sm">
           Camila Cabello
         </div>
         <div class="col-sm">
           <button type="submit" class="btn btn-danger btn-sm float-right" name="delete" value="{delete}">Delete</button><br>
         </div>
         <div class="col-sm">
           <button type="submit" class="btn btn-warning btn-sm float-right" name="saved" value="{save}">Save</button><br>
         </div>
    </div><br> -->

    <!-- <div class="row">
         <div class="col-sm outline">
           "Dying in LA"
         </div>
         <div class="col-sm">
           Panic! At the Disco
         </div>
         <div class="col-sm">
           <button type="submit" class="btn btn-danger btn-sm float-right" name="delete" value="{delete}">Delete</button><br>
         </div>
         <div class="col-sm">
           <button type="submit" class="btn btn-warning btn-sm float-right" name="saved" value="{save}">Save</button><br>
         </div>
    </div><br><br> -->

  </form>
  </div></div></div>

  {% endblock content %}
