{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h3>Results</h3><br>

    Distance: {{distance}} miles<br><br>
    <img src={{map[0]}} style="width:auto;"><br><br>

    <b>Routes:</b><br><br>

    <form action="/play" method="POST">

    {% if mode == "Public Transit" %}


        {% for route in routes %}

          Your travel time is {{route['time']}}
          <button type="submit" class="btn btn-danger btn-sm float-right" name="route" value={{route}}>Choose</button><br>

          <ol>
            {% for direction in route['directions'] %}
              <li>{{direction['dir']}} ({{direction['time']}})</li>
            {% endfor %}
          </ol><br>
        {% endfor %}

    {% else %}
        Your travel time is {{time}}:<br>

          <button type="submit" class="btn btn-danger btn-sm float-right" name="time" value={{time}}>Choose</button><br>

          <ol>
              {% for route in routes %}
                <li>{{route}}</li>
              {% endfor %}

          </ol>
    {% endif %}

    </form>

    <!-- <div class="row">
      <div class="col-sm">
        A, C, E transfer to the F
      </div>
      <div class="col-sm text-center">
        45 min.
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-danger btn-sm float-right" name="route" value="{route}">Play</button><br>
      </div>
    </div> -->

    <center><br><br><a href = '/'><input type = "button" class="btn btn-dark btn-sm" value="Back"></input></a></center>
  </div>
{% endblock content %}
