{% extends "base.html" %}
{% block content %}
  <div class="container">

    <form action="/play" method="POST">

    <h3>Playlist Preferences</h3><br>

    Please fill out at least one of the boxes below:<br><br>

    <div class="form-group">
      <label for="tags">Comma-Separated Tags:</label>
      <input type="text" class="form-control" id="tags" name="tags">
    </div>

    <div class="form-group">
      <label for="artist">Artist:</label>
      <input type="text" class="form-control" name="artist">
    </div>

    <b>Top Charts:</b> "{{top_hit[0][1]}}" by {{top_hit[0][0]}}<br><br>

    <h3>Results</h3><br>

    <b>Distance:</b> {{distance}} miles<br><br>
    <img src={{map[0]}} style="width:auto;"><br><br>

    <b>Routes:</b><br><br>

    {% if mode == "Public Transit" %}


        {% for route in routes %}

          Your travel time is {{route['time']}}
          <button type="submit" class="btn btn-danger btn-sm float-right" name="transit_length" value={{route['time']}}>Choose</button><br>

          <ol>
            {% for direction in route['directions'] %}
              <li>{{direction['dir']}} ({{direction['time']}})</li>
            {% endfor %}
          </ol><br>
        {% endfor %}

    {% else %}
        Your travel time is {{time}}:<br>

          <button type="submit" class="btn btn-danger btn-sm float-right" name="route_length" value={{time}}>Choose</button><br>

          <ol>
              {% for route in routes %}
                <li>{{route}}</li>
              {% endfor %}

          </ol>
    {% endif %}

    <br><br>

    </form>

    <!-- <div class="row">
      <div class="col-sm">
        A, C, E transfer to the F
      </div>
      <div class="col-sm text-center">
        45 min.
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-danger btn-sm float-right" name="route" value="{route}">Play</button><br>
      </div>
    </div> -->

    <center><br><br><a href = '/'><input type = "button" class="btn btn-dark btn-sm" value="Back"></input></a></center>
  </div>
{% endblock content %}
