{% extends "users.html" %}

{% block content %}
  <div class="container">
    <div id="nav-row" class="row justify-content-center align-items-center">
      <div id="nav-column" class="col-md-8">
        <h3>{{username}}</h3><br>

            <table class="table table-hover table-light"><br>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Artist</th>
                  <th scope="col">Song Title</th>
                  <th scope="col">Link</th>
                </tr>
              </thead>
              <tbody>
                {{playlists}}
              </tbody>
            </table>
          </div>

      </div>
    </div>

{% endblock %}
