{% extends "base.html"%}
{% block title %}
<title>Welcome</title>
<h1 class="display-3 text-center">Smapify</h1>
{% endblock title %}

{% block content %}
<div class="container">
  <center><h3>Find a customized song playlist to fit your commute:</h3></center><br>

  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="welcome-column" class="col-md-6">



      {% set msgs = get_flashed_messages()%}
      {% for each in msgs %}
        <i class="text-danger">{{each}}</i><br><br>
      {% endfor %}

      <form action="/route" method="POST">
        <div class="form-group">
          <label for="start">Starting Address:</label>
          <input type="text" class="form-control" id="start" name="start">
        </div>
        <div class="form-group">
          <label for="destination">Destination:</label>
          <input type="text" class="form-control" name="destination">
        </div>

        <div class="form-group">
          <label for="mode">Transportation Mode:</label>
          <select class="form-control" name="mode">
            <option>Walking</option>
            <option>Driving</option>
            <option>Bicycle</option>
            <option>Public Transit</option>
          </select>
        </div><br>

        <button type="submit" class="btn btn-outline-danger">Submit</button>
      </form>
    </div>
  </div>

{% endblock content %}
<!--  <b>Mood:</b>
      <select>
	<option value="happy">Happy</option>
	<option value="calm">Calm</option>
	<option value="energetic">Energetic</option>
	<option value="depressing">Depressing</option>
      </select><br>

      <b>Genre:</b>
      <select>
	<option value="holidays">Holidays</option>
	<option value="pop">Pop</option>
	<option value="country">Country</option>
	<option value="classical">Classical</option>
	<option value="dance">Dance</option>
      </select><br>

      <b>Artist:</b>
      <input type="text" name="artist">
      <br><br>

      <b>Word of the day:</b> "toxic"<br>

      <input type="submit" value="Submit"><br><br>
</form>

<b> Saved playlists? </b><br>
<a href="/view_playlists">Click here to view them</a>

<!-- <div class="form-group">
  <label for="mood">Mood:</label>
  <select class="form-control" name="mood">
    <option>Happy</option>
    <option>Calm</option>
    <option>Energetic</option>
    <option>Depressing</option>
  </select>
</div>

<div class="form-group">
  <label for="genre">Genre:</label>
  <select class="form-control" name="genre">
    <option>Holidays</option>
    <option>Pop</option>
    <option>Country</option>
    <option>Classical</option>
    <option>Dance</option>
  </select>
</div> -->

</div>
